<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.story.member.join.service.impl.MemberJoinMapper">

<!-- 회원정보 등록하기 -->
<insert id="setMemberInsert" parameterType="map">
	INSERT INTO MEMBER
		 ( MEMBER_NM
		 , MEMBER_ID
		 , MEMBER_PW
		 , EMAIL
		 , IS_USE
		 )
	VALUES
		 ( #{memberNm}
		 , #{memberId}
		 , #{memberPw}
		 , #{email}
		 , true
		 )
</insert>

</mapper>